img{
    max-width: 100%;
    
}
*{
padding: 0;
margin: 0;
}

.myPuppy{
    padding-top: 27px;
    padding-bottom: 24px;
    color: white;
    text-align: center;
}
.bgDarkB {
    background-color: #085070;
}
#Banner img{
    width: 100%;
}
#Banner{
    margin-bottom: 84px;
}
.puppies_section .puppyBasket
{
    display: flex;
}
.puppy1,.missingpuppy,.puppy2 {
    width: 33% ;  
}
.puppy1 img, .missingpuppy img, .puppy2 img{
    width: 100%;
}
.puppyBasket {
    width: 960px;
    margin: 0 auto;
}
    
.morewrapper{
    display: flex; 
    justify-content: center;
}
.missingpuppy{
    background-color: red;
    margin: 0 1%;
}
.missingwrapper{
    font-size: 44px;
    padding: 56px 50px 45px;
    text-align: center;
}
.additionalpuppies{
    margin-top: 50px;
}
 h2{
    text-align: center;
    font-size: 4opx;
    margin-bottom: 40px;
}
.verpuppy{
    margin-right: 20px;
    width: 200px;
}
.verpuppy2{
    margin-left: 20px;
   width: 200px;
    
}
footer{
    margin-top: 75px;
    padding-top: 100px;
    padding-bottom: 125px;
    color: white;
    text-align: center;
    font-size: 30px;
}
